.center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found-link{
  margin:auto;
  text-decoration: none;
  width: 50%;
}

.not-found-img{
  width: 50%;
  margin-bottom: 1em;
}