.btn-space {
    margin-bottom: 10px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
}

.full-justify {
    text-align: justify;
}

.full-justify:after {
    content: "";
    display: inline-block;
    width: 100%;
}